
footer {
    padding-left: 5rem;
    .--footer-content {
        padding: 1rem;
        border-top: 1px solid #a0a0a0;
        p {
            font-size: 13px;
            margin-bottom: 0;
            @keyframes beat {
                from { transform: none; }
                50% { transform: scale(1.4); }
                to { transform: none; }
            }
            .heart {
                display: inline-block;
                font-size: 18px;
                text-shadow: 0 0 10px #222,1px 1px  0 #450505;
                color: red;
                animation: beat .5s infinite;
                transform-origin: center;
            }
        }
    }
}