@import './Variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    //background-color: $primaryColor;

}

body {
    background-color: $primaryColor;
}
