@import './Variables';

section {
   background-color: $primaryColor;
        .nav-pills {
            margin-left: 6px;
            .nav-link{
                border-radius: 0;
                background-color: #474747;
                color: #fff;
                font-size: 14px;
                font-family: 'Inter', sans-serif;
                font-weight: 800;
            }
            .nav-link.active {
                background-color: $secundaryColor;
                transition: 1s;
            }
            .nav-link.active::after {
                content: '•';
                margin-left: 20px;
                color: rgb(11, 243, 115);
            }
        }
        .nav-item:not(:nth-last-child(1)) .nav-link {
            border-right: 1px solid $primaryColor;

        }
        .tab-content {
            margin-top: 6rem;
            .idioms-text-formt {
                font-weight: 300;
                font-size: 14px;
                font-family: 'Ubuntu', sans-serif;
                @media only screen and (min-width: 1024px) { 
                    font-weight: 900;
                    font-size: 20px;
                    @media only screen and (min-width: 1420px) { 
                        font-size: 30px;
                    }
                }   
            
            }
            .margTop {
                margin-top: -15px;
            }

            .padd-l{
                @media only screen and (min-width: 1024px) {
                    margin-left: 260px;
                    @media only screen and (min-width: 1024px) { 
                        margin-left: 200px;
                        @media only screen and (min-width: 1420px) { 
                            margin-left: 260px;
                        }
                    }
                    
                }        
            }
        }
        
    .typewr {
        
        font-weight:300;
        font-size:26px;
        font-family: 'Inter', sans-serif;
        min-height: 40vh;
        border: 1px solid #6F6F6F;
       
        @media only screen and (min-width: 1024px) {
            font-size: 50px;
        }
        .cons-text {
            small {
                font-size: 15px;
                border-bottom: 2px solid #6F6F6F;
                color: #6F6F6F;
            }
        }
        .Typewriter {
            text-align: center;
            margin-top: 120px;
            
        }
    }
}