$primaryColor: #1e1e1e;
$secundaryColor: #333;
$tertiaryColor: #007ACC;


/** Colors Tab**/

.color-lblue{
    color: #71E9F0;
}
.color-coral{
    color: #FAC1BD;
}
.color-mustard {
    color: #B8BB22;
}
.color-ocher {
    color: #EC8666;
}
.color-gray {
    color: #a7a7a7;
}
